<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Password</title>
</head>
<body>
    <h1>One Password</h1>
    <form action="{% url 'onepass:login_page' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log In</button>
    </form>
    <form action="{% url 'onepass:signup_page' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>